body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el logo y el título */
}

.logo {
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto;
}

h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
    font-size: 24px;
}

main {
    position: relative;
    height: calc(100% - 120px);
}

#gameCanvas {
    display: block;
    background-image: url('assets/fondo.jpg');
    background-size: cover;
    margin: 0 auto;
}

.rules-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.score-display {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}