body {
    background-color: #EAE2B7;
    font-family: Arial, sans-serif;
    color: #003049;
}

header {
    background-color: #d62f2f;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.rules {
    background-color: #FCBF49;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#gameCanvas {
    border: 2px solid #D62828;
    background-image: url('assets/fondo.jpg');
    background-size: cover;
}

#scoreDisplay {
    color: #F77F00;
}

.hidden {
    display: none;
}

footer {
    background-color: #003049;
    color: white;
    padding: 10px;
}